:root {
  --primary-Dark-cyan: hsl(158, 36%, 37%);
  --primary-Cream: hsl(30, 38%, 92%);

  --accent-Very-dark-blue: hsl(212, 21%, 14%);
  --accent-Dark-grayish-blue: hsl(228, 12%, 48%);
  --accent-White: hsl(0, 0%, 100%);

  --ff-Mont: "Montserrat", serif;
  --ff-Fraun: "Fraunces", serif;

  --fw-regular: 500;
  --fw-bold: 700;

  font-size: 16px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Utility Classes*/

.main-bg {
  background-color: var(--primary-Cream);
}
.card-bg {
  background-color: var(--accent-White);
}

.btn-bg {
  background-color: var(--primary-Dark-cyan);
}

.txt-white {
  color: var(--accent-White);
}

/* General Styling */
body {
  font-family: var(--ff-Mont);
  display: grid;
  place-items: center;
}

.wrapper {
  --max-height: 28.125rem;
  --max-width: 37.4375rem;
  --mob-height: 38.4375rem;
  --mob-width: 21.5625rem;

  height: var(--max-height);
  width: var(--max-width);
  border-radius: 0.625rem;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50.5%;
}

.image {
  background-image: url("./images/image-product-desktop.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.description {
  margin-block: 26px;
  margin-inline: 26px;
  display: flex;
  flex-direction: column;
}

.description > * {
  font-family: var(--ff-Mont);
}

.description h1 {
  color: var(--accent-Dark-grayish-blue);
  font-size: 12px;
  font-weight: var(--fw-bold);
  letter-spacing: 5px;
  opacity: 0.65;
  margin-top: 7.5px;
  margin-left: 4px;
}

.description h2 {
  color: var(--accent-Very-dark-blue);
  line-height: 103%;
  font-family: var(--ff-Fraun);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  margin-left: 5px;
  margin-top: 20px;
}

.description p {
  margin-top: 22px;
  line-height: 167%;
  letter-spacing: 0.2px;
  font-size: 14px;
  font-weight: var(--fw-bold);
  color: var(--accent-Dark-grayish-blue);
  opacity: 0.65;
}

.description h3 {
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-left: 4px;
  font-family: var(--ff-Fraun);
  font-weight: var(--fw-bold);
  color: var(--primary-Dark-cyan);
  font-size: 2rem;
}

button {
  margin-top: 27.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border: none;
  border-radius: 7.5px;
  color: hsl(0, 0%, 100%, 0.9);
  font-weight: var(--fw-bold);
  font-size: 13px;
}
button > img {
  padding-right: 10px;
}

button:hover {
  background-color: var(--accent-Very-dark-blue);
}

s {
  padding-left: 16px;
  color: var(--accent-Dark-grayish-blue);
  font-size: 12px;
  font-weight: var(--fw-regular);
  opacity: .9;
}
@media (max-width: 50em) {
  .wrapper {
    width: var(--mob-width);
    height: var(--mob-height);
  }
  .card {
    display: flex;
    flex-direction: column;

  }
  .image {
    background-image: url("./images/image-product-mobile.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}
